In [2]:
import json
import numpy as np
import pandas as pd

ligas = ["England","France","Germany", "Italy", "Spain"]

In [3]:
data = {
    'match':[],
    'home':[],
    'away':[],
    'winner':[],
    'score_home':[],
    'score_away':[],
    'label':[],
    'liga':[],
}


liga2match2teams={ liga:{} for liga in ligas  }


for liga in ligas:

    print (liga)

    arx = f'/home/chacoma/Lineas/Futbol/raw_data/pappalardo/matches/matches_{liga}.json'

    matches = json.load(open(arx,'r'))

    for i in range(len(matches)):

        data['liga'].append(liga)

        match = matches[i]['wyId']
        winner = matches[i]['winner']
        data['match'].append(match)
        data['winner'].append(winner)
        data['label'].append(matches[i]['label'])

        eq1, eq2 = list(matches[i]['teamsData'].keys())
        deq1 = matches[i]['teamsData'][eq1]
        deq2 = matches[i]['teamsData'][eq2]

        score1,side1 = deq1['score'], deq1['side']
        score2,side2 = deq2['score'], deq2['side']

        if side1=='home':
            data['home'].append(eq1)
            data['away'].append(eq2)
            data['score_home'].append(score1)
            data['score_away'].append(score2)

            liga2match2teams[liga][match]=( eq1,eq2 )

        else:
            data['home'].append(eq2)
            data['away'].append(eq1)
            data['score_home'].append(score2)
            data['score_away'].append(score1)

            liga2match2teams[liga][match]=( eq2,eq1 )


df_matches = pd.DataFrame(data)
  
df_matches.head()

England
France
Germany
Italy
Spain

,match,home,away,winner,score_home,score_away,label,liga
0,2500089,1646,1659,1659,1,2,"Burnley - AFC Bournemouth, 1 - 2",England
1,2500090,1628,1627,1628,2,0,"Crystal Palace - West Bromwich Albion, 2 - 0",England
2,2500091,1673,1609,1609,0,1,"Huddersfield Town - Arsenal, 0 - 1",England
3,2500092,1612,1651,1612,4,0,"Liverpool - Brighton & Hove Albion, 4 - 0",England
4,2500093,1611,1644,1611,1,0,"Manchester United - Watford, 1 - 0",England

In [4]:
#df_matches.to_csv("matches.csv",index=False)

In [7]:
json.dump( liga2match2teams, open("liga2match2teams.json","w") )